.btn-primary {
  background: #DB8256;
  border-color: #DB8256; }

.btn {
  padding: 1.2rem 1.5rem;
  font-size: 1.5rem; }

html {
  font-size: 10px; }

body {
  background: #f8f8f8; }

header {
  background: #7E5398; }
  @media (max-width: 991px) {
    header .container {
      max-width: 100%; } }
  header .container .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem 0; }
    header .container .header__top .title {
      width: 45%; }
      header .container .header__top .title__text {
        color: #fff; }
        header .container .header__top .title__text--span {
          color: #F5DF4C; }
    header .container .header__top .menu__movil {
      display: none; }
      @media (max-width: 991px) {
        header .container .header__top .menu__movil {
          display: inline-block; } }
    header .container .header__top .menu__desktop {
      display: inline-block; }
      @media (max-width: 991px) {
        header .container .header__top .menu__desktop {
          display: none; } }
    header .container .header__top .menu {
      width: 55%; }
      header .container .header__top .menu__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin-bottom: 0; }
      header .container .header__top .menu__item {
        list-style: none;
        margin: 0 .5rem; }
      header .container .header__top .menu__link {
        color: #fff;
        padding: .8rem 1.8rem;
        border-radius: .4rem;
        font-size: 1.5rem;
        text-decoration: none;
        -webkit-transition: all .5s;
        transition: all .5s; }
        header .container .header__top .menu__link:hover {
          background: #5d3d70; }
  header .container .header__bottom {
    padding: 12rem 0; }
    header .container .header__bottom--cont {
      text-align: center; }
      header .container .header__bottom--cont h3 {
        color: #fff; }
    header .container .header__bottom--button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-top: 5rem; }

.cont__services {
  background: #5EBFA5; }
.cont__team {
  background: #E9F1F7; }
.cont__statistics {
  background: #fff; }
.cont__portafolio {
  background: #F9DEA1; }
.cont__comment {
  background: #C5517F; }

.services {
  padding: 5rem 0 10rem; }
  .services__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .services__text--title {
      color: #fff;
      position: relative;
      text-align: center;
      margin: 3rem 0;
      text-transform: uppercase; }
      .services__text--title:after {
        content: '';
        display: inline-block;
        background: rgba(0, 0, 0, 0.3);
        height: .3rem;
        width: 8%;
        position: absolute;
        bottom: -1rem;
        right: 0;
        left: 0;
        margin: 0 auto; }
    .services__text--des {
      color: #fff;
      text-align: center;
      padding-bottom: 6rem; }
  .services__cajas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .services__cajas .caja {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .services__cajas .caja__text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .services__cajas .caja__text--title {
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          width: 100%; }
        .services__cajas .caja__text--desc {
          padding-top: 1rem;
          width: 85%;
          margin: 0 auto; }
          .services__cajas .caja__text--desc p {
            color: #fff;
            text-align: center; }

.team {
  padding: 5rem 0 10rem; }
  .team__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .team__text--title {
      color: #3E475F;
      position: relative;
      text-align: center;
      margin: 3rem 0;
      text-transform: uppercase; }
      .team__text--title:after {
        content: '';
        display: inline-block;
        background: rgba(0, 0, 0, 0.3);
        height: .3rem;
        width: 8%;
        position: absolute;
        bottom: -1rem;
        right: 0;
        left: 0;
        margin: 0 auto; }
    .team__text--des {
      color: #3E475F;
      text-align: center;
      padding-bottom: 6rem; }
  .team__cajas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .team__cajas .caja {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .team__cajas .caja__text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .team__cajas .caja__text--title {
          color: #3E475F;
          text-align: center;
          text-transform: uppercase;
          width: 100%; }
          .team__cajas .caja__text--title a {
            display: block;
            width: 100%;
            font-size: 1.2rem;
            text-transform: initial;
            padding-top: .5rem;
            color: #9DD0EB; }
        .team__cajas .caja__text--desc {
          padding-top: 1rem;
          width: 85%;
          margin: 0 auto; }
          .team__cajas .caja__text--desc p {
            color: #3E475F;
            text-align: center; }
      .team__cajas .caja__social {
        padding-top: 1.5rem; }
        .team__cajas .caja__social ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          list-style: none;
          padding: 0; }
          .team__cajas .caja__social ul li {
            margin: 0 .5rem;
            list-style: none; }
            .team__cajas .caja__social ul li a {
              display: inline-block;
              background: #bcd4e7;
              padding: .6rem;
              border-radius: 50%;
              -webkit-transition: all .5s;
              transition: all .5s; }
              .team__cajas .caja__social ul li a.faceboook {
                padding: .6rem 1.1rem; }
              .team__cajas .caja__social ul li a:hover svg {
                -webkit-transform: scale(1.1);
                        transform: scale(1.1); }
              .team__cajas .caja__social ul li a svg {
                color: #fff;
                font-size: 18px;
                -webkit-transition: all .5s;
                transition: all .5s; }

.stat {
  padding: 5rem 0 10rem; }
  .stat__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .stat__text--title {
      color: #3E475F;
      position: relative;
      text-align: center;
      margin: 3rem 0;
      text-transform: uppercase; }
      .stat__text--title:after {
        content: '';
        display: inline-block;
        background: rgba(0, 0, 0, 0.3);
        height: .3rem;
        width: 8%;
        position: absolute;
        bottom: -1rem;
        right: 0;
        left: 0;
        margin: 0 auto; }
    .stat__text--des {
      color: #3E475F;
      text-align: center;
      padding-bottom: 6rem; }

.portafolio {
  padding: 5rem 0 10rem; }
  .portafolio__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .portafolio__text--title {
      color: #3E475F;
      position: relative;
      text-align: center;
      margin: 3rem 0;
      text-transform: uppercase; }
      .portafolio__text--title:after {
        content: '';
        display: inline-block;
        background: rgba(0, 0, 0, 0.3);
        height: .3rem;
        width: 8%;
        position: absolute;
        bottom: -1rem;
        right: 0;
        left: 0;
        margin: 0 auto; }
    .portafolio__text--des {
      color: #3E475F;
      text-align: center;
      padding-bottom: 6rem; }
  .portafolio__cajas .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .portafolio__cajas .nav li {
      margin: 0 .8rem;
      background: rgba(0, 0, 0, 0.1);
      padding: .6rem 2.2rem;
      border-radius: 2px;
      -webkit-transition: all .5s;
      transition: all .5s;
      cursor: pointer; }
      .portafolio__cajas .nav li:hover, .portafolio__cajas .nav li.active {
        background: #fff; }
      .portafolio__cajas .nav li a {
        padding: 0;
        color: #3E475F;
        text-transform: uppercase;
        display: inline-block; }
  .portafolio__cajas .portafolio__box {
    margin-top: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .portafolio__cajas .portafolio__box .box {
      width: 40%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-bottom: 5rem; }
      .portafolio__cajas .portafolio__box .box__title h4 {
        color: #3E475F; }
  .portafolio__cajas .portafolio__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .portafolio__cajas .portafolio__link button {
      background: #5EBFA5;
      -webkit-transition: all .5s;
      transition: all .5s;
      color: #fff;
      padding: 1.4rem 2.5rem;
      text-transform: uppercase;
      -webkit-box-shadow: 0px 2.5px 0px #34836e;
              box-shadow: 0px 2.5px 0px #34836e; }
      .portafolio__cajas .portafolio__link button:hover {
        background: #45af93; }

.containe {
  width: 375px;
  height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #a82227;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .containe .navButton {
    width: 50px;
    height: 40px;
    display: block;
    position: relative;
    z-index: 1; }
    .containe .navButton div {
      padding-bottom: 80%;
      position: relative; }
      .containe .navButton div svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .containe .panel {
    padding: 125px 50px 50px;
    width: 325px;
    height: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #8e1d21; }
    .containe .panel div {
      width: auto;
      height: 10px;
      background-color: #d94248;
      margin: 0 0 50px; }
