// Variables

$color-primario: #f8f8f8;
$fire: #c1272d;
$white:  #fff;

$color-1: #7E5398;
$color-2: #5EBFA5;
$color-3: #E9F1F7;
$color-4: $white;



.btn-primary {
    background: #DB8256;
    border-color: #DB8256;
}
.btn {
    padding: 1.2rem 1.5rem;
    font-size: 1.5rem;
}



// Media Querys
//
$screen_lg: 1200px;
$screen_lg: 991px;
$screen_md: 768px;
$screen_sm: 568px;
$screen_xs: 400px;

// @media (min-width: $screen_lg)
